@media (max-width: 1340px) {
    .socpanel {
        display: none;
    }
}

@media (max-width: 1200px) {
 .container {
    max-width: 960px;
 }
 .title {
     &_fs36 {
         font-size: 24px;
         line-height: 40px;
     }
 }
 .divider {
     margin-top: 20px;
     margin-bottom: 30px;
 }
 .about {
     padding-top: 60px;
     &__wrapper {
        grid-template-columns: 350px 500px;
         column-gap: 0;
         justify-content: space-between;
     }
     &__skills {
         grid-template-columns: 200px 200px;
         column-gap: 15px;
     }
 }
 .resume {
     padding-top: 60px;
     &__wrapper {
         grid-template-columns: 320px 320px;
         padding: 0 20px;
         column-gap: 0;
         justify-content: space-between;
     }
 }
 .skills {
     padding-top: 60px;
     padding-bottom: 60px;
     &__wrapper {
         grid-template-columns: repeat(3, 235px);
         margin-bottom: 60px;
         gap: 8px;
         justify-content: center;
     }
     &__raiting {
         column-gap: 35px;
         &__item {
            grid-template: minmax(21px, auto) 14px/180px 35px;
         }
     }
 }
 
 .price {
     padding-bottom: 60px;
     &__wrapper {
        grid-template: repeat(3, 44px)/repeat(2, 281px);
     }
 }
 .contacts {
     &__wrapper {
         padding: 0;
         grid-template-columns: 300px 400px;
     }
     &__photo {
         width: 100%;
         height: auto;
     }
     &__form {
         grid-template-columns: repeat(2, 196px);
     }
     .policy {
        display: block;
        margin-left: 0;
        margin-top: 10px;
     }
 }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
     }
    .portf {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            text-align: center;
            padding-bottom: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 253px 500px;
        }
    }
    .contacts {
        &__wrapper {
            justify-content: center;
        }
        &__descr {
            margin-left: 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
     }
     .title {
         &_fs48 {
             font-size: 36px;
             line-height: 40px;
         }
     }
     .promo {
        background: url(../img/main-bg2.jpg) no-repeat 70%/cover;
         .title {
            width: 268px;
            margin-bottom: 9px;
            background: rgba(255, 255, 255, .6);
            padding: 3px 7px;
         }

     }
     .about {
        
         &__photo {
             grid-row: 1/2;
         }
         &__skills {
             grid-template-columns: repeat(3, 170px);
         }
     }
     .skills {
         &__wrapper {
            grid-template-columns: repeat(2, 235px);
         }
         &__raiting {
             grid-template: repeat(3, minmax(70px, auto))/repeat(2, auto);
         }
     }
     .portf {
         &__wrapper {
             grid-template: repeat(3, 240px)/repeat(2, 240px);
             .horizontal {
                 grid-column: 2/3;
             }
         }
     }
     .price {
         &__wrapper {
            grid-template: repeat(3, 44px)/repeat(1, 281px);
         }
     }
     .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            display: block;
        }
     }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
     }
     
     .title {
        &_fs48 {
            font-size: 21px;
            line-height: 30px;
        }
        &_fs36 {
            font-size: 24px;
            line-height: 36px;
        }
        &_fs16 {
            font-size: 14px;
        }
    }
    .menu__link {
        font-size: 16px;
    }
    .menu__block {
        width: 250px;
        padding-left: 20px;
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 300px;
            grid-template-rows: 340px auto;
            justify-content: center;
        }
        &__photo {
            grid-row: 1/2;
            
            img {
                object-fit: cover; 
                height: 100%;
            }
        }
        &__skills {
            grid-template-columns: 260px;
            grid-template-rows: repeat(3, minmax(116px auto));
            .ml10 {
                margin-left: 10px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 300px;
            grid-template-rows: repeat (2, (minmax(420px auto)) );
            padding: 0 10px;
            justify-content: center;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: 270px;
            grid-template-rows: repeat (7, 270px);
            justify-content: center;
        }
        &__raiting {
            grid-template: repeat(6, 69px) / 300px;
        }
    }
    .portf {
        padding-bottom: 40px;
        &__wrapper {
            grid-template-columns: 280px;
            grid-template-rows: repeat(6, 280px);
            .vertical {
                grid-column: 1/2;
                grid-row: 4/5;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .horizontal {
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                grid-column: 1/2;
            }
        }
    }
    .price {
        padding-bottom: 30px;
        &__wrapper {
            grid-template: repeat(6, 62px) / 275px;
            padding: 0 0 0 25px;
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__wrapper {
            padding: 0;
            grid-template-columns: 300px;
        }
        &__photo {
            display: none;
        }
        &__form {
            grid-template-columns: 300px;
            grid-template-rows: 45px 45px 143px;
            grid-auto-rows: auto;
        }
        &__textarea {
            grid-column: 1/2;
        }
        &__trigger {
            grid-column: 1/2;
            .policy {
                margin: 20px auto;
                display: block;
            }
        }
        &__btn {
            margin: 0 auto;
            display: block;
        }
    }
    @media (max-width: 425px) {
        .contacts {
            &__contacts {
                grid-template-columns: 1fr;
            }
        }
    }

}