.portf {
   padding: 20px 0 120px;
   position: relative;
   &__wrapper {
       display: flex;
       justify-content: space-between;
       padding: 0 60px;
    }
    &__img {
        margin-right: 30px;
        border-radius: 12px;
        width: 316px;
        height: 354px;
    }
    .title {
        margin-top: 20px;
    }
    .swiper-button-prev, .swiper-button-next {
        color: $main-color;
    }
    .swiper-pagination-bullet-active {
        background: $main-color;
    }
}