.promo {
    position: relative;
    min-height: 100vh;
    background: url('../img/main-bg2.jpg') no-repeat 50%/cover;
    padding-top: 206px;
    .title {
        width: 535px;
        margin-bottom: 9px;
    }
    &__links {
        margin-top: 25px;
        display: flex;
        justify-content: start;

    }
    &__link {
        margin-right: 40px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            text-decoration: underline;
            
        }
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle;
    }
}
